@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

@media (max-width: 640px) {
    .swiper-slide {
        display: flex !important;
        justify-content: center;
    }
}